body {
    margin: 0;
    padding: 0;
    background-color: #050505;
    /* Preto quase absoluto */
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    touch-action: none;
    /* ESSENCIAL: Impede arrastar a tela no celular */
}

#gameCanvas {
    display: block;
    background: #000;
    box-shadow: 0 0 50px rgba(0, 210, 255, 0.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.3s;
}

.overlay h1 {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0 0 20px #00d2ff;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.blink {
    animation: blinker 1.5s linear infinite;
    font-size: 1.2rem;
    color: #aaa;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media (max-width: 600px) {
    .overlay h1 {
        font-size: 2rem;
    }
}